{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex justify-content-center">
        {{ form_start(form) }}
        <div class="form-control mt-4 bg-primary">
            {{ form_label(form.fullName, 'Nom/Prénom :', {'label_attr': {'class': 'text-white'}}) }}
                {{ form_errors(form.fullName) }}
            {{ form_widget(form.fullName) }}
        </div>    
        <div class="form-control mt-4 bg-primary">
            {{ form_label(form.pseudo, 'Pseudo :', {'label_attr': {'class': 'text-white'}}) }}
                {{ form_errors(form.pseudo) }}
            {{ form_widget(form.pseudo) }}
        </div>
        <div class="form-control mt-4 bg-primary">
            {{ form_label(form.email, '@dresse email :', {'label_attr': {'class': 'text-white'}}) }}
                {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>  
        <div class="form-control mt-4 bg-primary">
            {{ form_label(form.plainPassword, 'Saisir un mot de passe :', {'label_attr': {'class': 'text-white'}})}}
                {{ form_errors(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}
        </div>
        <div class="d-flex justify-content-center mt-4">
            {{ form_row(form.submit) }}
        </div>  

        {{ form_end(form) }}
</div>

{% endblock %}